.App {
  .login {
    color: greenyellow;
    font-size: 18px;
    font-weight: bold;
    min-height: 64px;
    display: flex;
    align-items: center;
    width: 100vw;
    justify-content: center;
    background: rgb(39, 39, 39);
    background: linear-gradient(
      90deg,
      rgba(0, 0, 0, 0) 0%,
      rgba(39, 39, 39, .7) 10%,
      rgba(39, 39, 39, .7) 90%,
      rgba(0, 0, 0, 0) 100%
    );
  }
}